<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TTClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TTClient.Properties.Settings>
            <setting name="TFSUri" serializeAs="String">
                <value />
            </setting>
            <setting name="TFSCollection" serializeAs="String">
                <value>DefaultCollection</value>
            </setting>
            <setting name="UseDefCreds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="WIActivity" serializeAs="String">
                <value>Activity</value>
            </setting>
            <setting name="ActiveState" serializeAs="String">
                <value>Active</value>
            </setting>
            <setting name="ActivityTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Deployment</string>
                        <string>Design</string>
                        <string>Development</string>
                        <string>Documentation</string>
                        <string>Requirements</string>
                        <string>Testing</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastActivityType" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryActiveWI" serializeAs="String">
                <value>Select [System.Id], [System.Title], [System.State] From WorkItems Where [System.State] = '{0}' AND [System.AssignedTo] = @Me</value>
            </setting>
            <setting name="WIFieldTitle" serializeAs="String">
                <value>System.Title</value>
            </setting>
            <setting name="WIFieldAssignedTo" serializeAs="String">
                <value>System.AssignedTo</value>
            </setting>
            <setting name="WIFieldTeamProject" serializeAs="String">
                <value>System.TeamProject</value>
            </setting>
            <setting name="WIFieldWorkItemType" serializeAs="String">
                <value>System.WorkItemType</value>
            </setting>
            <setting name="WIFieldRemainingWork" serializeAs="String">
                <value>Microsoft.VSTS.Scheduling.RemainingWork</value>
            </setting>
            <setting name="WIFieldCompletedWork" serializeAs="String">
                <value>Microsoft.VSTS.Scheduling.CompletedWork</value>
            </setting>
            <setting name="WIFieldDiscipline" serializeAs="String">
                <value>Microsoft.VSTS.Common.Discipline</value>
            </setting>
            <setting name="WIFieldStartDate" serializeAs="String">
                <value>Microsoft.VSTS.Scheduling.StartDate</value>
            </setting>
            <setting name="WIFieldFinishDate" serializeAs="String">
                <value>Microsoft.VSTS.Scheduling.FinishDate</value>
            </setting>
            <setting name="WIFieldParentLink" serializeAs="String">
                <value>System.LinkTypes.Hierarchy-Reverse</value>
            </setting>
        </TTClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>